/Assignment/Assignment1/nbproject/private/
/Assignment/Pertemuan4/nbproject/private/
/Quiz/Kuis/nbproject/private/
/Quiz/TugasAnalisaAlgo/nbproject/private/
/Quiz/TestInvoice/nbproject/private/
/Quiz/Kuis/build/
/Assignment/Assignment2/build/
/Assignment/Assignment2/nbproject/private/
